* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px;
}

#mainContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./images/sky-background.jpg);
}

nav {
  width: 75%;
  height: 5vh;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 2px rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-style: italic;
    color: rgb(0, 0, 0);
  }
}

#app {
  width: 75vw;
  height: 95vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 50%);

  .searchContainer {
    width: 50%;
    height: 30%;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #inputFields {
      width: 80%;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      #usrInput {
        height: 50px;
        width: 300px;
        border-radius: 20px;
        border: none;
        text-indent: 10px;
        font-size: 18pt;
        background-color: rgb(135, 206, 235);
      }
  
      #search {
        height: 50px;
        width: 100px;
        border-radius: 20px;
        background-color: rgb(78, 119, 255);
        color: rgb(255, 255, 255);
        border: none;
      }
    }
  }

  .resultsContainer {
    width: 60vw;
    height: 45vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    .panelContainer {
      width: 55vw;
      height: 35vh;
      display: flex;
      align-items: center;

      .weatherInfo {
        width: 300px;
        height: 200px;

        #tempDegree {
          width: fit-content;
          height: fit-content;
          font-size: 40pt;
        }

        #currentWeather{
          width: fit-content;
          height: fit-content;

          #weatherName {
            width: fit-content;
            height: fit-content;
            font-size: 16pt;
          }

          #weatherIcon {
            margin-top: -20px;
            width: fit-content;
            height: fit-content;
          }
        }
      }
    }
  }
}